django-storages[s3]
django
python-decouple
django-tailwind
django-tailwind[reload]
djangorestframework
djangorestframework-jwt
celery
cloudflare
pycryptodome
pillow
django-cors-headers
requests
numpy
